<% if (!(_.isEmpty(positives))) { %>
  <table class="table table-striped table-history">
    <tr>
      <th class='positive'>FRIENDS OWE ME</th>
      <th class='positive'>$<%= posSum %>.00</th>
    </tr>
    <% _.each(positives, function(amt, user_id) { %>
      <tr data-user-id='<%= user_id %>'>
        <td><%= users.get(user_id).escape('email')  %></td>
        <td>$ <%= parseFloat(amt).toFixed(2) %></td>
      </tr>
    <% }); %>
  </table>
<% } %>

<% if (!(_.isEmpty(negatives))) { %>
  <table class="table table-striped table-history">
    <tr>
      <th class='negative'>I OWE FRIENDS</th>
      <th class='negative'>$<%= negSum %>.00</th>
    </tr>
  <% _.each(negatives, function(amt, user_id) { %>
      <tr data-user-id='<%= user_id %>'>
        <td><%= users.get(user_id).escape('email')  %></td>
        <td>$ <%= parseFloat(amt).toFixed(2) %></td>
      </tr>
    <% }); %>
  </table>
<% } %>

<% if (_.isEmpty(negatives) && _.isEmpty(positives)) { %>
  <div class='col-md-8 col-md-offset-4'>
    <h3>Welcome to BillPinClone</h3>
  </div>
<% } %>
