<!-- left side email list -->
<div class='col-md-3'>
  <h3>Users</h3>
  <ul class='nav nav-pills nav-stacked user-list'>
    <% users.each(function(user) { %>
      <% if (user.id != current_user.id) { %>
        <li data-id="<%= user.id %>"><a><%= user.escape('email') %></a></li>
      <% } %>
    <% }); %>
  </ul>
</div>

<!-- form -->
<form class='col-md-9 horizontal-form'>
  <div class='row'>
    <ul class="nav nav-tabs">
      <li class='active' id='shared-equally'><a>Shared equally</a></li>
      <li id='split-by-amount'><a>Split by amount</a></li>
    </ul>
  </div>

  <div class='row user-split-details'>
    <div class='col-xs-7'>
      <p><%= current_user.escape('email') %></p>

      <input type='hidden' name='split[users][0][userId]' value='<%= current_user.id %>' >
    </div>
    <div class='col-xs-5'>
      <p class='split-amt-display'>$ <%= value %></p> <!-- heres where dynamic split cost goes -->
      <input type='hidden' class='split-amt user-split form-control'
             name='split[users][0][amt]' value='<%= value %>' >
    </div>
  </div>

  <div class='row total-split-details'>
    <div class='col-xs-9'>
      <p id='split-des-prev' class="pin-description"><%= splitDes %></p>
      <input type='hidden' name='split[des]' id='split-des-hidden' value='<%= splitDes %>'>
    </div>
    <div class='col-xs-3'>
      <p id='split-payer-display' class="font-9pt"><%= payerEmail %> paid</p><!-- dynamicly tells you who paid -->
      <input type='hidden' id='split-payer-input' name='split[payerId]' value='<%= payerId %>'>
    </div>
  </div>

  <div class='row total-split-details'>
    <div class='col-xs-9'>
      <p>DatePicker goes here</p>
    </div>
    <div class='col-xs-3'>
      <p class="font-24">$ <span id='split-amt-prev'><%= splitAmt %></span></p>
      <input type='hidden' name='split[totalAmt]' id='split-amt-hidden' value='<%= splitAmt %>'>
    </div>
  </div>

  <div class='row split-submit'>
    <div class='col-xs-9'>
      <p>picture upload goes here</p>
    </div>
    <div class='col-xs-3'>
      <button class='btn btn-orange'><i class='glyphicon glyphicon-pushpin icon-brown'></i> Pin it!</button>
    </div>
  </div>
  
</form>
