<div class="jumbotron col-md-8 col-md-offset-2">
  <h2 class='header'>Bill Details</h2>
  <% if (users) { %>
    <% _.each(users, function(user) { %>
      <div class='row user-row'>
        <div class='col-md-9 left'>
          <% if (user['userId']) { %>
            <p><%= BillPinClone.friends.get(user['userId']).escape('email') %></p>
          <% } else if (user['user_id']) { %>
            <p><%= BillPinClone.friends.get(user['user_id']).escape('email') %></p>
          <% } %>
        </div>
        <div class='col-md-3 right'>
          <p>$ <%= parseFloat(user['amt']).toFixed(2) %></p>
        </div>
      </div>
    <% }); %>
  <% } %>
  <div class='row bottom-row'>
    <% if (split) { %>
      <div class='col-md-6 left'>
        <h3><%= split['des'] %></h3>
        <p><%= split['date'] %></p>
      </div>
      <div class='col-md-6 right'>
        <p><%= BillPinClone.friends.get(split['payer_id']).get('email') %> paid </p>
        <h3>$ <%= parseFloat(split['total_amt']).toFixed(2) %></h3>
      </div>

      <% if (receipt_photo) { %>
      <div class='row'>
        <div class='col-md-6 col-md-offset-4'>
          <img class='display-photo' src='<%= receipt_photo %>' >
        </div>
      </div>
      <% }  %>
    <% } %>
  </div>
</div>
