<% 'REMOVE ME' %>
<h3><%= friend.escape('email') %></h3>
<% if (total > 0) { %>
  <p>owes you <%= total %></p>
<% } else if (total < 0 ) { %>
  <p>you owe <%= total * -1 %></p>
<% } else { %>
  <p>You two are even as a well built floor</p>
<% } %>

<% if (!(_.isEmpty(splits))) { %>
  <table class=" table table-striped table-history">
    <tr>
      <th>Amount</th>
      <th>For</th>
      <th>On</th>
    </tr>
    <% _.each(splits, function (split) { %>
      <tr data-split-id='<%= split['split_id'] %>'>
        <% if (split['friend_id'] == BillPinClone.current_user.id) { %>
          <td class="positive"><%= split['amt'] %></td>
        <% } else { %>
          <td class="negative"><%= split['amt'] %></td>
        <% } %>
        <td><%= histories.get(split['split_id']).escape('des') %></td>
        <td><%= split['created_at'] %></td>
      </tr>
    <% }); %>

  </table>
<% } else { %>
  <p>You ain't got no transactions</p>
<% } %>
