<nav class='navbar navbar-default' role='navigation'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle btn btn-brown' data-toggle='collapse'
              data-target='#navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <i class='glyphicon glyphicon-pushpin icon-white'></i>
      </button>
      <a class='navbar-brand' href='#'>BillPin</a>
    </div><!-- /.navbar-header -->

    <div class='collapse navbar-collapse' id='navbar-collapse'>
      <ul class='nav navbar-nav'>
        <% if user_signed_in? %> 
          <li><a href='#' id='home'>Home</a></li>
          <li><a href='#/history'>History</a></li>
        <% else %>
          <li><a href='#'>Home</a></li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <form class='navbar-form navbar-right' action='<%= destroy_user_session_url %>'
              method='POST' role='Sign Out'>
          <%= render partial: 'layouts/auth_helper' %>
          <input type='hidden' name='_method' value='delete'>
          <button class='btn btn-brown'>Sign Out</button> 
        </form>
      <% else %>
        <%= render partial: 'layouts/guest_user' %>
        <div class='navbar-form navbar-right'>

          <button class='btn btn-brown' data-toggle='modal' 
                  data-target='#log-in-modal'>Log In</button> 

          <button class='btn btn-brown' data-toggle='modal'
                  data-target='#sign-up-modal'>Sign Up</button>

        </div>
      <% end %>

    </div><!-- /.collapse.navbar-collapse -->
  </div><!-- /.container-fluid -->

  <!-- modal partials -->
  <%= render partial: 'layouts/sign_up_modal' %>
  <%= render partial: 'layouts/log_in_modal' %>

</nav>
